/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 juil. 2018, 10:19:05
    Author     : ycuidet
*/


html, body {
    height: 100%
}

/*--------------------*/
/* MISSIONS SECTION */
/*--------------------*/
#cbnm-recrute {
    padding: 80px 0 7px;
    min-height: calc(100% - 90px)
}

@media (min-width: 1200px){
    #cbnm-recrute {
        padding: 160px 0 7px;
    }
}

#direction-generale {    
    padding: 80px 0 7px;
    background-color: #EEEEEE;
}
@media(max-width:767px ){
    #missions {padding: 50px 7px;}
}

.panel-body h3 {
    margin: 20px 0 10px;
}

.panel-body h4 {
    font-weight: 600;
}

article ul {
    list-style-type: square;
    margin: 0 0 1em 2em;
}

/*.missions_list{
	float: left;
	display: inline;
	width: 100%;
	margin-top: 30px;
}


.mission_item {
	display: inline;
	float: left;
	width: 100%;
	padding: 0px 35px;
	margin-bottom: 40px;
}


.mission_iconarea{
	text-align: center;
	margin-bottom: 10px;
}


.mission_icon { 
    border-radius: 100%;
    color: #fff;
    font-size: 72px;
    height: 150px;
    line-height: 120px;
    padding: 15px 0;
    width: 150px; 
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #26A65B;
}


.mission_item>h2{
	text-align: center;
}


.mission_item > h2 span { 
  border-radius: 100%;
  color: #fff;
  height: 150px;
  line-height: 120px;
  padding: 15px 0;
  width: 150px;
}


.mission_item .mission_title{
  margin: 20px 0 20px;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}


.mission_item > .mission_title:after {
  bottom: 0;
  content: "";
  height: 3px;
  left: 40%;
  position: absolute;
  width: 100px;
  background-color: #26A65B;
}


#anniversaire {
    color: rgb(255, 255, 255);
    padding: 80px 0px;
    height: 920px;
    background: url("../img/head/Programme_30_ans_v4.jpg") no-repeat rgb(24, 16, 21);
}*/
