<mat-toolbar color="primary">
  
    <mat-toolbar-row>

        <button mat-icon-button [matMenuTriggerFor]="menu"
                style="margin-right: 16px;"
                fxShow.lt-md="true" fxHide="true">
            <mat-icon class="material-icons">menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="showArticle('accueil')">
                Accueil
            </button>
            
            <button mat-menu-item (click)="showArticle('programmes')">
                Programmes de lutte
            </button>

            <button mat-menu-item (click)="showArticle('a_propos')">
                À propos
            </button>

            <button mat-menu-item (click)="showArticle('contacts')">
                Contacts
            </button>

            <button mat-menu-item [matMenuTriggerFor]="protection_des_donnees">
                Protection des données
            </button>

        </mat-menu>

        <mat-menu #protection_des_donnees="matMenu">
            <button mat-menu-item (click)="showArticle('mentions_legales')">Mentions légales</button>
            <button mat-menu-item (click)="showArticle('politique_de_cookies')">Politique de cookies</button>
            <button mat-menu-item (click)="showArticle('politique_de_confidentialite')">Politique de confidentialité</button>
        </mat-menu>


        <div fxLayout="column" fxLayoutAlign="center start" (click)="showArticle('accueil')">
            <a href="javascript:" (click)="showArticle('accueil')" class="link_main">
                <span style="font-size: 18px; line-height: 18px;"> Iles Eparses </span>
                <span style="color: #CCC; display: block; font-size: 18px; line-height: 18px;"
                        fxHide.lt-md="true"> 
                    Lutte contre les Espèces Végétales Exotiques Envahissantes 
                </span>   
            </a>
        </div>


        <div fxFlex></div>


        <div style="font-size: 14px;line-height: 1em; margin: 0 1em; height: 100%">

            <button class="uiToggleIsland" (click)="toggleIslandToolbar()" fxLayout="row" fxLayoutAlign="center center" style="height: 100%">
                
                <div *ngIf="data.ui?.ile_id == 1">
                    <img  style="vertical-align: middle;max-width: 200px" src="assets/images/Europa-icone.png"/>
                    <span style="display: inline" class="ile">Europa</span>
                </div>

                <div *ngIf="data.ui?.ile_id == 2">
                    <img  style="vertical-align: middle;max-width: 200px" src="assets/images/Tromelin-icone.png"/>
                    <span style="display: inline" class="ile">Tromelin</span>
                </div>

                <div *ngIf="data.ui?.ile_id == null">
                    Sélectionner une île
                </div>

                <i class="material-icons"> arrow_drop_down </i>
                
            </button>

        </div>

        <div fxFlex></div>

        <div fxHide.lt-md="true"  fxLayout="row" fxLayoutAlign="start center">
            
            <button mat-button (click)="showArticle('programmes')">
                Programmes de lutte
            </button>

            <button mat-button (click)="showArticle('a_propos')">
                À propos
            </button>

            <button mat-button (click)="showArticle('contacts')">
                Contacts
            </button>
            

            <button mat-button [matMenuTriggerFor]="protection_des_donnees">Protection des données</button>
            <mat-menu #protection_des_donnees="matMenu">
                <button mat-menu-item (click)="showArticle('mentions_legales')">Mentions légales</button>
                <button mat-menu-item (click)="showArticle('politique_de_cookies')">Politique de cookies</button>
                <button mat-menu-item (click)="showArticle('politique_de_confidentialite')">Politique de confidentialité</button>
            </mat-menu>

            <a mat-button href="https://ileseparses.cbnm.org">
                Flores des Iles Éparses
            </a>

        
        </div>

    </mat-toolbar-row>

    
    <mat-toolbar-row class="islandToolbar" [ngClass]="{'show': data.displayIslandToolbar}">
        <span fxFlex></span>
        <button class="uiToggleIsland" (click)="toggleIslandId(1)" fxLayout="row" fxLayoutAlign="center center" style="height: 100%">
            <div style="font-size: 14px;line-height: 1em; margin: 0 1em">
                <img  style="vertical-align: middle;max-width: 200px" src="assets/images/Europa-icone.png"/>
                <span style="display: inline" class="ile">Europa</span>
                <span style="display: block; line-height: 1em; margin-top: -7px;" class="maj"><small>MAJ 31 octobre 2019</small></span>
            </div>
        </button>
        <button class="uiToggleIsland" (click)="toggleIslandId(2)" fxLayout="row" fxLayoutAlign="center center" style="height: 100%">
            <div style="font-size: 14px;line-height: 1em; margin: 0 1em">
                <img  style="vertical-align: middle;max-width: 200px" src="assets/images/Tromelin-icone.png"/>        
                <span style="display: inline" class="ile"> Tromelin </span>
                <span style="display: block; line-height: 1em; margin-top: -7px;" class="maj"><small>MAJ 7 décembre 2019</small></span>
            </div>
        </button>
        <span fxFlex></span>
    </mat-toolbar-row>

</mat-toolbar>


<router-outlet></router-outlet>





<mat-spinner
      *ngIf="displaySpinner"
      class="app-spinner"
      color="primary">
</mat-spinner>

<app-bannierecookie></app-bannierecookie>