<div fxLayout="column"style="padding-top: 0.5em" >
    
    
    <div class="item-container">Nombre total de populations : 
        <div class="item-badge">{{bilan?.bilan_nb_pop}}</div>
    </div>
  
    <div class="item-container">Surface initiale (m²) : 
        <div class="item-badge">{{bilan?.surf_init}}</div>
    </div>
      
    <div class="item-label">Dynamique de propagation : </div>
    <div class="item-value">
      Faible (vitalité des adultes et des bulbilles fortement impactée par une cochenille, faibles capacités de reproduction et de dissémination par bulbilles ou par stolons)
    </div>
  
    <div class="item-label">Urgence à éradiquer : </div>
    <div class="item-value">
        Faible (espèce non prioritaire)
    </div>


    <div fxLayout="row" fxLayout.lt-sm="column" >
        <div fxFlex>    
        
            <h2 color="accent">
                Etat d'avancement des actions de lutte et de suivi par population
            </h2>

            <div class="item-container">
                <ul>
                    <li>
                        Aucune action de lutte réalisée : 
                        <span class="item-badge">{{bilan?.lutte_nb_sans}} ( {{bilan?.lutte_sans_percent}}% )</span>
                    </li>
                    <li>
                      Actions de lutte débutées mais insuffisantes : 
                      <span class="item-badge">{{bilan?.lutte_nb_encours}} ( {{bilan?.lutte_encours_percent}}% )</span>
                    </li>
                    <li>
                        Actions de lutte terminées, actions de suivi en cours : 
                        <span class="item-badge">{{bilan?.lutte_end_partial}} ( {{bilan?.lutte_endpartial_percent}}% )</span>
                    </li>
                    <li>
                        Actions de lutte et de suivi terminées :
                        <span class="item-badge">{{bilan?.lutte_end}} ( {{bilan?.lutte_end_percent}}% )</span> 
                    </li>
                </ul>
            </div>
        
        </div>

    </div>


    <div fxLayout="row" fxLayout.lt-sm="column" >
      <div fxFlex>    
        <h4>Actions de lutte</h4>
  
                
        <div class="item-container">Nombre total d'actions de lutte : 
          <div class="item-badge">{{bilan?.lutte_nb}}</div>
        </div>
  
      
        <div class="item-container">Nombre total de personnes mobilisées : 
          <div class="item-badge">{{bilan?.lutte_nb_ident}}</div>
        </div>
  
      
        <div class="item-container">Durée totale cumulée (h) : 
            <div class="badge badge-info">{{bilan?.lutte_nb_h}}</div>
        </div>
  
    
        <div class="item-container">Surface totale traitée (m²): 
            <div class="item-badge">{{bilan?.lutte_surf_traite}} ( {{bilan?.lutte_surf_tt_percent}}% )</div>
        </div>
  
    
        <div class="item-container">Nombre total de mâts coupés : 
            <div class="item-badge">{{bilan?.lutte_nb_coupe}}</div>
        </div>
  
    
        <div class="item-container">Nombre total d'individus arrachés : 
            <div class="item-badge">{{bilan?.lutte_nb_arrache}}</div>
        </div>
  
    
        <div class="item-container">Poids total de bulbilles collectées (kg): 
            <div class="item-badge">{{bilan?.lutte_pds}}</div>
        </div>

      </div>

      <div fxFlex>
  
        <h3>Actions de suivi</h3>
              
        <div class="item-container">Nombre total de populations suivies : 
          <div class="item-badge">{{bilan?.lutte_suivi}}</div>
        </div>   
    
        <div class="item-container">Nombre total d'actions de suivi : 
            <div class="item-badge">{{bilan?.suivi_nb}}</div>
        </div>
    
        <div class="item-container">Nombre total de personnes mobilisées  : 
            <div class="item-badge">{{bilan?.suivi_nb_ident}}</div>
        </div>
    
        <div class="item-container">Durée totale cumulée (h) : 
            <div class="item-badge">{{bilan?.suivi_nb_h}}</div>
        </div>
    
        <div class="item-container">Nombre total d'individus arrachés : 
            <div class="item-badge">{{bilan?.suivi_nb_arrache}}</div>
        </div>
    
        <div class="item-container">Poids total de bulbilles collectées (kg): 
            <div class="item-badge">{{bilan?.suivi_pds_bulb}}</div>
        </div>
    
        <div class="item-container">Nombre total de bulbilles collectées : 
            <div class="item-badge">{{bilan?.nb_collecte}}</div>
        </div>
    
        <div class="item-container">Temps de suivi minimum (mois) : 
            <div class="item-badge">{{bilan?.suivi_mois_min}}</div>
        </div>
    
        <div class="item-container">Temps de suivi maximum (mois) : 
            <div class="item-badge">{{bilan?.suivi_mois_max}}</div>
        </div>
      </div>
    </div>
    
  </div>
  