<div fxLayout="row">

  <div fxFlex></div>

 <div fxLayout="column" class="article" fxFlex.xs="100" fxFlex="980px">
    
    <h2 mat-dialog-title color="accent">
      À propos
    </h2>


    <div fxFlexFill>

      <mat-tab-group>

        <mat-tab label="Partenaires techniques et financiers">
          <div fxLayout="column"style="padding-top: 0.5em" >              
            <p align="justify">
                Ce projet a bénéficié du soutien de :
            </p>
            
            <dl>
                <dt color="accent">Terres Australes et Antarctiques Françaises (Taaf)</dt>
                <dl  fxLayout="row" >  
                    <div style="margin-right:0.5em">        
                      <img src="assets/images/logos/logo taaf_150.jpg" class="img-responsive img-thumbnail"alt="images">
                    </div>
                    <a fxFlexAlign="center" href="http://www.taaf.fr/" target="_blank">
                        Site des Terres Australes et Antarctiques Françaises
                    </a>
                </dl>
            
                <dt color="accent">Forces Armées en Zone Sud de l’Océan Indien (FAZSOI)</dt>
                <dl  fxLayout="row" >  
                    <div style="margin-right:0.5em">          
                    <img src="assets/images/logos/logo-fazsoi_100.jpg" class="img-responsive img-thumbnail"alt="images">
                    </div>
                    <a fxFlexAlign="center" href="http://www.fazsoi.defense.gouv.fr/" target="_blank">
                        Site des Forces Armées en Zone Sud de l’Océan Indien
                    </a>
                </dl>
            
                <dt color="accent">Ministère de l’Écologie, du Développement Durable et de l’Énergie (MEDDE)</dt>
                <dl fxLayout="row" >
                    <div style="margin-right:0.5em">
                        <img src="assets/images/logos/logo_MEDDE_100.jpg" class="img-responsive img-thumbnail"alt="images">
                    </div>
                    <a fxFlexAlign="center" href="http://www.developpement-durable.gouv.fr/" target="_blank">
                        Site du Ministère de l’Écologie, du Développement Durable et de l’Énergie
                    </a>
                </dl>
            
                <dt color="accent">Direction de l’Environnement, de l’Aménagement et du Logement de La Réunion (DEAL Réunion)</dt>
                <dl fxLayout="row" >
                    <div style="margin-right:0.5em">
                      <img src="assets/images/logos/logo_deal_reunion_100.jpg" class="img-responsive img-thumbnail"alt="images">
                    </div>
                    <a fxFlexAlign="center" href="http://www.reunion.developpement-durable.gouv.fr/" target="_blank">
                        Site de la Direction de l’Environnement, de l’Aménagement et du Logement de La Réunion
                    </a>
                </dl>
            </dl>
          </div>
        </mat-tab>

        <mat-tab label="Crédits cartographiques">
          <div fxLayout="column"style="padding-top: 0.5em" >
            <p align="justify"><strong>Sources Europa </strong> : © CBNM 2011-2012-2013-2014-2015-2016-2017-2018-2019-2020</p>
            <p align="justify"><strong>Auteur Europa</strong> : © CBNM Juillet 2020</p>
            <p align="justify"><strong>Fond Europa</strong> : © CNES (2013) Distribution AIRBUS DS</p>
          </div>

          <div fxLayout="column"style="padding-top: 0.5em" >
            <p align="justify"><strong>Sources Tromelin </strong> : © CBNM 2013-2017-2018-2019-2020</p>
            <p align="justify"><strong>Auteur Tromelin</strong> : © CBNM Février 2019</p>
            <p align="justify"><strong>Fond Tromelin</strong> : © CNES (20160530) Distribution AIRBUS DS, France</p>
          </div>
        </mat-tab>
        
        <mat-tab label="Citation">
          <div fxLayout="column"style="padding-top: 0.5em" >
            <p align="justify">
              <cite>
                CONSERVATOIRE BOTANIQUE NATIONAL DE MASCARIN (CUIDET Y., HIVERT J. & PICOT F. auteurs principaux) 2020. 
                Lutte contre les espèces exotiques envahissantes dans les îles Éparses. Interface cartographique de consultation en ligne d’une base de données 
                sur les actions de lutte et de suivi sur les îles Europa et Tromelin. Disponible à 
                <a href="http://ileseparses.cbnm.org/lutte_eee">http://ileseparses.cbnm.org/lutte_eee</a>
              </cite>
            </p>
          </div>
        </mat-tab>

      </mat-tab-group>
      
    </div>
    
  </div>

  <div fxFlex></div>

</div>