<div fxLayout="row">

  <div fxFlex></div>
  
  <div fxLayout="column" class="article" fxFlex.xs="100" fxFlex="980px">
    
    <h2 color="accent">
      Programmes de lutte contre les espèces végétales exotiques envahissantes sur les îles Europa et Tromelin (îles Éparses)
    </h2>

    <br/>

    <p align="justify" >
      Bienvenue sur le site internet du CBNM 
      dédié aux programmes de lutte contre les espèces végétales exotiques envahissantes (EEE) 
      sur les îles Europa et Tromelin.
    </p>

    <p align="justify" >
      Conçu sous la forme d’une interface cartographique, ce site permet de connaitre la localisation des populations/individus pour chaque EEE, 
      de consulter en détail les diverses actions (lutte, suivi ou traitement des déchets verts) menées contre les EEE et de dresser des bilans. 
      Ces données sont régulièrement actualisées et complétées au gré des actions menées <i>in situ</i>.
    </p>

    <p align="justify">
        Les liens du bandeau supérieur du site permettent également d’accéder à diverses informations :
    </p>

    <ul>
      <li>
        <p align="justify"><b>Programmes de lutte</b> : présentation détaillée du contexte écologique et des outils mis en œuvre sur ‘Europa’ ou ‘Tromelin’;</p>
      </li>
      
      <li>
        <p align="justify">
          <b>A propos</b> : informations sur les ‘Partenaires techniques et financiers’ du projet, sur les ‘Crédits cartographiques’ 
          utilisés pour les cartes d’Europa ou de Tromelin, et sur la ‘Citation’ à générer pour toute utilisation de ce site ;
        </p>
      </li>

      <li>
        <p align="justify">
          <b>Contacts</b> : permet d’identifier les personnes ressources du projet au CBNM et aux TAAF.
        </p>
      </li>
    </ul>

    <p align="justify">
      Commencer par choisir une île au niveau du bandeau supérieur : 
    </p>
    <ul>
      <li>
        <span class="fake-selectIsland">
          <img  style="vertical-align: middle;" src="assets/images/Europa-icone.png"/>
          <span style="display: inline" class="ile">Europa</span>
        </span>
      </li>
      <li>
          <span class="fake-selectIsland">
          <img  style="vertical-align: middle;" src="assets/images/Tromelin-icone.png"/>
          <span style="display: inline" class="ile">Tromelin</span>
        </span>
      </li>
    </ul>
    
    <p align="justify">
      Une fenêtre automatique apparaitra afin de détailler pour chaque territoire les informations proposées ainsi que les règles de fonctionnement.
    </p>

    <div style="text-align:center">
        <img class="img-thumbnail" style="vertical-align: middle;max-width: 125px" src="assets/images/logos/ILES EPARSES 70x85mm_600.png"/>
    </div>

  </div>

  <div fxFlex></div>

</div>