<article>
  <h2 class="wow fadeInLeftBig">1- Définitions</h2>
  <div class="clearfix"> </div>
  <!--<h4> test </h4>-->
  <p>« Anonymisation » est définie comme « le résultat du traitement des données personnelles afin d’empêcher, de façon irréversible, toute identification » ;</p>
  <br />
  <p>« Collecter », s’entend du fait de recueillir des données à caractère personnel. Cette collecte peut s’effectuer, notamment, à l’aide de questionnaires ou de formulaires en ligne ;</p>
  <br />
  <p>« Consentement », votre consentement s’entend de toute manifestation de volonté, libre, spécifique, éclairée et univoque par laquelle vous acceptez, par une déclaration ou par un acte positif clair, que des données à caractère personnel vous concernant fassent l'objet d'un traitement ;</p>
  <br />
  <p>« Données à caractère personnel » ou « Données » désigne toute information se rapportant à une personne physique identifiée ou identifiable. Est réputée être une « personne physique identifiable » une personne physique qui peut être identifiée, directement ou indirectement, notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification, des Données de localisation, un identifiant en ligne, ou à un ou plusieurs éléments spécifiques propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale ;</p>
  <br />
  <p>« Droits protégeant vos données personnelles » : désigne l’ensemble des droits fondamentaux tels que décrit dans la réglementation européenne, portant sur :</p>
  <br />
  <ul style="list-style-type: '-    ';">
  <li>droit de vous opposer à nos traitements de vos données personnelles ;</li>
  <li>droit d’accéder à vos données personnelles que nous traitons ;</li>
  <li>droit de les rectifier ;</li>
  <li>droit à l’effacement ;</li>
  <li>droit à la portabilité de vos données ;</li>
  <li>droit à la limitation du traitement ;</li>
  <li>droit de définir des directives relatives à la conservation, l’effacement et la communication de vos données personnelles après votre mort.</li>
  </ul>
  <cite><i>RÈGLEMENT (UE) 2016/679 DU PARLEMENT EUROPÉEN ET DU CONSEIL du 27 avril 2016, art. 15 à 21 et art. 23</i></cite> <br /> <br /> <br />
  <p>« Limitation de traitement » s’entend du marquage de données à caractère personnel conservées, en vue de limiter leur traitement futur ;</p>
  <cite><i>Règl. UE 2016-679 du 27-4-2016, art. 4</i></cite> <br /> <br />
  <p>« Minimisation » associé à celui de « données » évoque une limitation apportée à la collecte ou à l’utilisation d’informations ;</p>
  <br />
  <p>« Mutualisation des données » s’entend du résultat de la mise en commun de bases de données clients ou prospects de plusieurs partenaires ;</p>
  <br />
  <p>« Profilage » s’entend comme « toute forme de traitement automatisé de données à caractère personnel consistant à utiliser ces données à caractère personnel pour évaluer certains aspects personnels relatifs à une personne physique, notamment pour analyser ou prédire des éléments concernant le rendement au travail, la situation économique, la santé, les préférences personnelles, les intérêts, la fiabilité, le comportement, la localisation ou les déplacements de cette personne physique » ;</p>
  <cite><i>Règl. (UE) 2016/679 du 27-4-2016 : JOUE 2016 L 119 p.1, art. 4 §4.</i></cite> <br /> <br />
  <p>« Données sensibles » désigne les Données qui révèlent l'origine raciale ou ethnique, les opinions politiques, les convictions religieuses ou philosophiques ou l'appartenance syndicale, ainsi que le traitement des Données génétiques, des Données biométriques aux fins d'identifier une personne physique de manière unique, des Données concernant la santé ou des Données concernant la vie sexuelle ou l'orientation sexuelle d'une personne physique. L’Association ne traite aucune donnée sensible;</p>
  <br />
  <p>« Responsable du traitement » désigne la personne physique ou morale, l'autorité publique, le service ou un autre organisme qui, seul ou conjointement avec d'autres, détermine les finalités et les moyens du traitement. En l’espèce il s’agit du Conservatoire Botanique National de Mascarin (CBN-CPIE Mascarin);</p>
  <br />
  <p>« Règlementation » désigne le Règlement n° 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des Données à caractère personnel et à la libre circulation des Données (RGPD) et la Loi informatique et liberté n°78-17 du 6 janvier 1978 modifiée.</p>
  <br />
  <p>« Sites » désigne tous les sites internet édités par CBN-CPIE Mascarin.</p>
  </article>
  <p> </p>
  <article>
  <h2 class="wow fadeInLeftBig">2 - Les données que nous recueillons</h2>
  <p><b> Par l’intermédiaire de nos Sites internet, nous sommes susceptibles de recueillir et de traiter les Données suivantes : </b></p>
  <ul style="list-style-type: '-    ';">
  <li>Nom;</li>
  <li>Adresse mail;</li>
  <li>Sujet;</li>
  <li>Message;</li>
  </ul>
  <br />
  <p>Ces Données nous permettons de vous contacter par email afin de répondre a vos question en lien avec le Conservatoire Botanique National et Centre Permanent d’Initiatives pour l’Environnement Mascarin.</p>
  <br />
  <p><b>Les Données que nous recueillons via les cookies et autre trackers :</b></p>
  <p>Les Sites CBN-CPIE Mascarin utilisent des cookies installés sur votre ordinateur lors de votre navigation. Un cookie est un fichier de petite taille qui enregistre des informations relatives à la navigation sur un Site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le Site, et ont également vocation à permettre diverses mesures de fréquentation. Pour en savoir plus sur la manière dont nous gérons les cookies et les modalités d’opposition, veuillez consulter notre Politique cookies.</p>
  <br />
  <p>CBN-CPIE Mascarin ne traite aucune Donnée sensible.</p>
  </article>
  <p> </p>
  <article>
  <h2 class="wow fadeInLeftBig">3 - Les durées de conservation</h2>
  <p>Vos données personnelles sont conservées pour la durée nécessaire au traitement de votre demande d’information. Elles seront au maximum conservées durant 12 mois à partir du dernier contact puis supprimer.</p>
  <p><b>Les Données de navigation des visiteurs seront conservées au maximum pendant 13 mois, pour en savoir plus dirigez vous vers <a href="index.php/politique-de-cookies">notre politique de cookies.</a></b></p>
  </article>
  <p> </p>
  <article>
  <h2 class="wow fadeInLeftBig">4 - Les finalités et bases légales sur lesquelles sont fondés nos traitements</h2>
  <p>Pour le formulaire de contact une réponse sera écrite afin de répondre au mail reçu par notre service administratif.</p>
  </article>
  <p> </p>
  <article>
  <h2 class="wow fadeInLeftBig">5 - Les destinataires de vos Données</h2>
  <p>Les données rentrer dans le formulaire de contact seront transmises à notre service administratif en charge de la boîte mail <a href="mailto:cbnm@cbnm.org">cbnm@cbnm.org</a>.</p>
  </article>
  <article>
  <h2 class="wow fadeInLeftBig">6 - Transferts de Données</h2>
  <p>CBN-CPIE Mascarin ne transfère pas vos Données en dehors de l’Union européenne. Néanmoins, il est possible que ces dernières soient hébergées sur des serveurs situés en dehors de l’Union européenne.</p>
  <p>Dans ce cas, CBN-CPIE Mascarin s’engage à prendre toutes les mesures nécessaires à la préservation de l’intégrité et de la sécurité de vos Données afin que ces dernières soient :</p>
  <br />
  <ul style="list-style-type: '-    ';">
  <li>situées dans un Etat considéré comme adéquat par la Commission européenne ;</li>
  <li>envoyées à des entités présentant des garanties suffisantes quant à la protection des Données à caractère personnel par la mise en œuvre et la signature de clauses contractuelles types approuvées par la Commission européenne.</li>
  </ul>
  </article>
  <article>
  <h2 class="wow fadeInLeftBig">7 - Sécurité des Traitements</h2>
  <p>CBN-CPIE Mascarin assure le traitement de vos Données en toute confidentialité et en toute sécurité en mettant en place les mesures techniques et organisationnelles nécessaires pour préserver dans des conditions optimales leur sécurité, leur confidentialité et leur intégrité.</p>
  <p>Seules les personnes strictement habilitées par CBN-CPIE Mascarin auront accès à vos Données. Aucun tiers non autorisé ne saurait y avoir accès, hors obligation légale ou unioniste incombant au Responsable de traitement.</p>
  </article>
  <article>
  <h2 class="wow fadeInLeftBig">8 - Vos droits</h2>
  <p>En application de la loi Informatique et libertés et du RGPD, vous disposez à tout moment d'un droit d'accès, de modification, d’opposition à la prospection commerciale et en cas de motifs légitimes, du droit à la limitation du traitement de vos Données et du droit de demander la suppression des Données personnelles vous concernant. Vous disposez également du droit à la portabilité de vos Données, du droit de définir des directives concernant vos Données en cas de décès et du droit de retirer votre consentement. Vous pouvez exercer vos droits en écrivant à <a href="mailto:dpo@cbnm.org">dpo@cbm.org</a>.</p>
  <p>Si satisfaction ne vous était pas donnée concernant le traitement de vos Données ou l’exercice de vos droits, vous avez la possibilité de saisir la CNIL.</p>
  </article>
  <article>
  <h2 class="wow fadeInLeftBig">9 - Mise à jour</h2>
  <p><b> La présente politique pourra faire l’objet d’actualisation par CBN-CPIE Mascarin, en cas de nouveaux traitements, et notamment sur le fondement : </b></p>
  <ul style="list-style-type: '-    ';">
  <li>des changements significatifs intervenus dans la législation et/ou la jurisprudence ainsi que les normes techniques applicables au Système d’Information ;</li>
  <li>de l’évaluation des risques ;</li>
  <li>des réajustements suggérés par la mise en œuvre des procédures internes de gestion de l’information.</li>
  </ul>
  </article>
  <p> </p>
  <hr />
  <h5>Pour approfondir le sujet : <a href="mentionslegales">Mentions légales</a></h5>