<div fxLayout="row">

  <div fxFlex></div>

  <div fxLayout="column" class="article" fxFlex.xs="100" fxFlex="980px">
      
    <article>
      <h2 mat-dialog-title color="accent">Qu’est-ce qu’un cookie ?</h2>
      
      <div class="clearfix"> </div>
      <!--<h4> test </h4>-->
      <p>Un cookie est un petit fichier texte et recouvre tout type de traceurs « déposés et lus par exemple lors de la consultation d'un site internet, de la lecture d'un courrier électronique, de l'installation ou de l'utilisation d'un logiciel ou d'une application mobile et ce, quel que soit le type de terminal utilisé ». Il peut être déposé par le serveur du Site visité ou par un serveur tiers (régie publicitaire, service de web analytique, etc.). Les cookies ne compromettent pas la sécurité du site.</p>
      </article>
      <p> </p>
      <article>
      <h2 mat-dialog-title color="accent">Les cookies déposés par CBN-CPIE Mascarin</h2>
      <p>Lorsque vous vous connectez sur notre Site, nous sommes susceptibles d’installer divers cookies sur votre terminal.</p>
      <p>Les cookies que nous émettons nous permettent :</p>
      <ul style="list-style-type: '-    ';">
      <li>De maintenir le bon fonctionnement du Site</li>
      <li>De gérer l’acceptation et la durée de conservation des cookies</li>
      <li>De pouvoir mesurer l’audience de notre Site</li>
      </ul>
      <br />
      <p>Conformément à la réglementation, les cookies ont une durée de vie maximum de 13 mois.</p>
      </article>
      <p> </p>
      <article>
      <h2 mat-dialog-title color="accent">Les cookies émis par l’intermédiaire de tiers</h2>
      <h4>Les cookies analytics :</h4>
      <p>Ils nous permettent de suivre les audiences de notre Site et de connaître votre navigation sur notre Site (cookies Google Analytics) et de générer des données statistiques quant aux utilisations du Site. Cela nous permet d’améliorer la performance du Site.</p>
      </article>
      <p> </p>
      <article>
      <h5>Gestion des cookies</h5>
      <table class="table table-striped">
      <tbody>
      <tr>
      <th>Noms</th>
      <th>Finalité</th>
      <th>Durée de conservation</th>
      <th>Destinataire</th>
      <th>Statut d’accord</th>
      </tr>
      <tr>
      <td>Google Analytics _gid</td>
      <td>Analyse du trafic du site internet pour Google.</td>
      <td>décidé par Google <a href="https://developers.google.com/analytics/devguides/collection/gajs/cookie-usage">En savoir plus</a></td>
      <td>Google Inc.</td>
      <td><a href="#" onclick="bannierecookie.userInterface.openPanel();">Gestion des cookies</a></td>
      </tr>
      <tr>
      <td>Google Analytics _gat</td>
      <td>Analyse du trafic du site internet pour Google.</td>
      <td>décidé par Google <a href="https://developers.google.com/analytics/devguides/collection/gajs/cookie-usage">En savoir plus</a></td>
      <td>Google Inc.</td>
      <td><a href="#" onclick="bannierecookie.userInterface.openPanel();">Gestion des cookies</a></td>
      </tr>
      <tr>
      <td>Google Analytics _gat_gtag_UA_*</td>
      <td>Analyse du trafic du site internet pour Google.</td>
      <td>décidé par Google <a href="https://developers.google.com/analytics/devguides/collection/gajs/cookie-usage">En savoir plus</a></td>
      <td>Google Inc.</td>
      <td><a href="#" onclick="bannierecookie.userInterface.openPanel();">Gestion des cookies</a></td>
      </tr>
      <tr>
      <td>cbnm.org PHPSESSID</td>
      <td>Permet de gérer la session d’un internaute sur son navigateur.</td>
      <td>Durée de la session : 24 minutes</td>
      <td>CBN-CPIE Mascarin</td>
      <td>Aucune procédure de refus n’est disponible</td>
      </tr>
      <tr>
      <td>cbnm.org bannierecookie_ieluttes</td>
      <td>Gestionnaire de consentement des cookies</td>
      <td>Durée de 13 mois</td>
      <td>CBN-CPIE Mascarin</td>
      <td>Aucune procédure de refus n’est disponible</td>
      </tr>
      </tbody>
      </table>
      <br />
      <p>Lorsque vous visitez notre Site pour la première fois, une bandeau cookies s’affiche vous indiquant les finalités des cookies. Sachez que la poursuite de la navigation sur le Site équivaut à donner votre consentement à l’utilisation des cookies par CBN-CPIE Mascarin. Vous pouvez choisir à tout moment d’adapter la gestion des cookies en fonction de vos préférences, de les désactiver ou exprimer un choix différent via les moyens décrits ci-dessous.</p>
      <p>En utilisant ce site, le visiteur reconnaît avoir eu la possibilité de prendre connaissance de cet avertissement.</p>
      <p> </p>
      <h4>Une autre solution pour la gestion des Cookies et de vos choix, chaque navigateur propose une configuration différente :</h4>
      <p> </p>
      <div>
      <h4><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion"> Sur Chrome </a></h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
      <ol>
      <li><b>Dans l'angle supérieur droit, cliquez sur « Plus » puis « Paramètres ».</b></li>
      <li><b>En bas, cliquez sur « Paramètres avancés ».</b></li>
      <li><b>Dans la section « Confidentialité et sécurité », cliquez sur « Paramètres du contenu ».</b></li>
      <li><b>Cliquez sur « Cookies ».</b></li>
      <li><b>Choisissez vos préférences</b></li>
      </ol>
      <p><a href="https://support.google.com/chrome/answer/95647?hl=fr&amp;amp;hlrm=en">Lien pour en savoir plus.</a></p>
      </div>
      </div>
      <p> </p>
      <div>
      <h4><a href="#collapseTwo" data-toggle="collapse" data-parent="#accordion"> Sur Microsoft Edge (Internet Explorer) </a></h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      <h5><b>Microsoft Edge :</b></h5>
      <ol>
      <li><b> Dans la fenêtre de votre navigateur Microsoft Edge, cliquez sur le menu (3 petits points à l'horizontal) situé en haut à droite du navigateur.</b></li>
      <li><b>Cliquez sur Paramères, en bas du menu.</b></li>
      <li><b>Dans ce nouvel onglet, sélectionnez Afficher les paramètres avancés.</b></li>
      <li><b>Une fois dans l'onglet Paramètres avancés, cliquez sur le champ intitulé "Cookies" et choisissez "Ne pas bloquer les cookies".</b></li>
      <li><b>Vous pouvez fermer ce menu, les cookies sont désormais activés sur Microsoft Edge.</b></li>
      </ol>
      <br /> <br /> <br />
      <h5><b>Pour Internet Explorer 10 et 11 :</b></h5>
      <ol>
      <li><b>Sélectionnez le bouton « Outils », puis « Options Internet ».</b></li>
      <li><b>Sélectionnez l’onglet « Confidentialité », puis dans « Paramètres », sélectionnez « Avancé ». Choisissez si vous souhaitez autoriser, bloquer ou être invité à déterminer la configuration des cookies internes et des cookies tiers.</b></li>
      </ol>
      <br /> <br /> <br />
      <h5><b>Internet Explorer 8 :</b></h5>
      <ol>
      <li><b>Sélectionnez le bouton « Outils », puis « Options Internet ».</b></li>
      <li><b>Sélectionnez l’onglet « Confidentialité », puis dans « Paramètres », déplacez le curseur vers le haut pour bloquer tous les cookies ou vers le bas pour autoriser tous les cookies, puis cliquez sur « OK ».</b></li>
      </ol>
      <p><a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies">Lien pour en savoir plus.</a></p>
      </div>
      </div>
      <p> </p>
      <div>
      <h4><a href="#collapseThree" data-toggle="collapse" data-parent="#accordion"> Sur Firefox </a></h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
      <ol>
      <li><b>Cliquez sur le bouton de « Menu » et sélectionnez « Options »</b></li>
      <li><b>Sélectionnez le panneau « Vie privée et sécurité » et rendez-vous à la section « Historique ».</b></li>
      <li><b>Exercez vos choix en matière de Cookies ».</b></li>
      </ol>
      <p><a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies?redirectlocale=fr&amp;amp;redirectslug=Activer%2Bet%2Bd%C3%A9sactiver%2Bles%2Bcookies">Lien pour en savoir plus.</a></p>
      </div>
      </div>
      <p> </p>
      <div>
      <h4><a href="#collapseFour" data-toggle="collapse" data-parent="#accordion"> Sur Safari </a></h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
      <ol>
      <li><b>Choisissez Safari &gt; Préférences, cliquez sur Confidentialité, puis sélectionnez une option relative aux « Cookies et données de site web »</b></li>
      </ol>
      <p><a href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac">Lien pour en savoir plus.</a></p>
      </div>
      </div>
      <p> </p>
      <div>
      <h4><a href="#collapseFive" data-toggle="collapse" data-parent="#accordion"> Sur Opera </a></h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
      <ol>
      <li><b>Cliquez sur « Préférence », puis sur « Avancé » puis sur « Cookies »</b></li>
      <li><b>Pour gérer les cookies en fonction d’un site en particulier, cliquez sur « gérer les cookies » </b></li>
      <li><b>Si vous voulez accepter ou rejeter tous les cookies du même domaine, sélectionnez "Se souvenir de mon choix pour tous les cookies de ce domaine". La prochaine fois qu'un cookie est proposé pour ce domaine, le dialogue de cookie ne va pas apparaître.</b></li>
      <li><b>Pour changer l'expiration du cookie à la fin d'une session, sélectionnez "Forcer la suppression en quittant Opera"</b></li>
      <li><b>Les détails du cookie sont disponibles sous l'en-tête "Détails du cookie".</b></li>
      </ol>
      <p><a href="https://blogs.opera.com/news/2015/08/how-to-manage-cookies-in-opera/">Lien pour en savoir plus.</a></p>
      </div>
      </div>
      </article>
      <p> </p>
      <article>
      <h2 mat-dialog-title color="accent">Vos droits</h2>
      <p><b> Dans l’objectif de vous permettre de contrôler nos usages de vos données personnelles, vous bénéficiez des droits suivants : </b></p>
      <ul style="list-style-type: '-    ';">
      <li>droit de vous opposer à nos traitements de vos données personnelles ;</li>
      <li>droit d’accéder à vos données personnelles que nous traitons ;</li>
      <li>droit de les rectifier ;</li>
      <li>droit à l’effacement ;</li>
      <li>droit à la portabilité de vos données ;</li>
      <li>droit à la limitation du traitement ;</li>
      <li>droit de définir des directives relatives à la conservation, l’effacement et la communication de vos données personnelles après votre mort.</li>
      </ul>
      <br /> <br />
      <p>Conformément à la loi informatique et libertés du 6 janvier 1978 modifiée, et au RGPD, vous disposez d’un droit d’accès, de rectification, d’opposition, de suppression et de limitation pour les informations issues des cookies et autres traceurs. Pour cela, merci de vous adresser à <a href="mailto:dpo@cbnm.org">dpo@cbnm.org</a> .</p>
      </article>
      <p> </p>
      <hr />
      <h5>Pour approfondir le sujet : <a href="politiqueconfidentialite">Politique de confidentialité</a></h5>



  </div>

  <div fxFlex></div>

</div>