<div fxLayout="row">

  <div fxFlex></div>
  
  <div fxLayout="column" class="article" fxFlex.xs="100" fxFlex="980px">
    
      <div fxFlexFill>

          <mat-tab-group>
                
            <mat-tab label="Europa">
              <br>
              
              <h2 color="accent">Programmes de lutte contre les espèces végétales exotiques envahissantes sur l’île Europa</h2>
              
              <br/>
              <h3 color="accent">Contexte</h3>
              
              <p align="justify">
                L’île Europa peut être qualifiée d'hautement exceptionnelle notamment de par la richesse de ses habitats indigènes terrestres, 
                leur remarquable état de conservation et leur fonctionnalité. Depuis 2005, sa gestion et celle des autres îles Éparses 
                (Bassas da India, Juan de Nova, les Glorieuses, Tromelin) a été confiée au préfet administrateur supérieur des Terres Australes et Antarctiques Françaises, ces
                  dernières constituant le 5ème district des TAAF depuis 2007. Des détachements militaires dépendants des Forces Armées en Zone Sud de l’Océan Indien (FAZSOI) 
                  s’y succèdent tous les 45 jours en moyenne et des scientifiques mandatés par les TAAF y font régulièrement des missions. Parmi ces derniers, 
                  le Conservatoire Botanique National de Mascarin intervient sur ces territoires en tant qu’expert de la flore vasculaire et des systèmes de 
                  végétation terrestres. En 2007, ces îles sont officiellement devenues un territoire d'agrément national au titre des Conservatoires Botaniques Nationaux.
              </p>
              <p align="justify">
                Certaines menaces liées aux espèces végétales exotiques envahissantes (ou potentiellement envahissantes) ont cependant été mises en exergue sur l’île d’Europa. 
                Parmi les taxons introduits, les plus problématiques sont :
              </p>
              <ul>
                <li>le Choca (<i>Furcraea foetida</i>) et le Sisal (<i>Agave sisalana</i>), deux espèces de la famille des Asparagacées (ex Agavacées) originaires 
                  d’Amérique du Sud et introduites volontairement sur Europa au début du XXème siècle dans un but de production de fibres. 
                  Bien que l’échec de cette tentative de colonisation par l’Homme n’ait pas permis leur exploitation sur une longue période, 
                  ces deux espèces se sont parfaitement acclimatées jusqu’à présenter un comportement invasif, en particulier le Choca
                </li>
                <li>la Fataque ou Herbe de Guinée (<i>Urochloa maxima</i>), une graminée (famille des Poacées) originaire d’Afrique tropicale et d’Asie 
                  tempérée introduite dans de nombreuses régions chaudes pour sa valeur fourragère à l’état jeune. Bien que sa date et ses raisons 
                  d’introduction sur l’île d’Europa restent peu précises, cette herbe a été signalée dès 1921 par PERRIER DE LA BÂTHIE et les observations 
                  récentes du CBNM démontrent qu’elle ne se cantonne plus uniquement aux abords du camp militaire mais qu’elle est en cours d’expansion au 
                  sein des milieux naturels
                </li>
                <li>
                  Le Filao (<i>Casuarina equisetfolia</i>), un arbre de la famille des Casuarinacées, probablement introduit volontairement afin d'être planté. Le Filao s'est naturalisé et se régénère activement sur les zones sableuses littorales. En 2011, sa population atteignait 1798 individus (1020 adultes, 326 juvéniles et 452 plantules) répartis en 14 stations majoritairement concentrées dans la partie nord de l'île
                </li>
              </ul>
                
              <p align="justify">
                  D'autres taxons exotiques pourraient être facilement gérés car uniquement présents de manière localisée :
              </p>
              
              <ul>
                <li>
                  le Cenchre épineux (<i>Cenchrus echinatus</i>), une graminée introduite récemment (première mention en mars 2019), probablement de manière involontaire. Cette herbe occupe actuellement de faibles surfaces autour du camp militaire mais elle pourrait rapidement s’étendre grâce à sa capacité de dissémination sur de longues distances
                </li>
                <li>
                  le Ricin (<i>Ricinus communis</i>), un arbrisseau de la famille des Euphorbiacées. Découverte récemment (première mention en mars 2019), cette plante occupe de faibles surfaces au nord de l’île au sein d’anciennes zones de plantation de Choca et de Sisal et elle fait preuve d’une certaine dynamique d’expansion (fructification abondante, régénération importante)
                </li>
                <li>
                  le Morongue (<i>Moringa oleifera</i>), un arbre de la famille des Moringacées probablement introduit volontairement pour des raisons alimentaires et ornementales. En 2011, sa population se portait à 4 adultes, tous plantés dans des zones anthropisées (abords des camps et de la piste d’aviation). Depuis 2016, un seul individu subsiste au niveau du camp militaire
                </li>
                <li>
                  le Tamarin (<i>Tamarindus indica</i>), un arbre de la famille des Légumineuses probablement introduit volontairement pour des raisons alimentaires. Il est présent sur une unique station composée de 13 individus (des adultes florifères et quelques juvéniles) et il se régénère localement
                </li>
                <li>
                  le Cocotier (<i>Cocos nucifera</i>), un palmier introduit pour des raisons alimentaires, ornementales et de commodité. Sensible aux conditions environnementales sèches de l’île, il montre de faibles capacités de germination <i>in situ</i>
                </li>
              </ul>
              <p align="justify">
                Fort de ces constats, divers programmes de lutte ont été élaborés au fil du temps afin d’éradiquer à moyen terme l’ensemble de ces espèces exotiques sur Europa. Débuté de manière expérimentale fin 2011 puis officialisé fin 2012, le premier programme de lutte a concerné
                <a href="https://ileseparses.cbnm.org/index.php/presentation/focus-sur/26-programme-action/41-programme-de-lutte-contre-le-choca-furcraea-foetida-l-haw-et-le-sisal-agave-sisalana-perrine-sur-l-ile-d-europa?showall=1&start=0"
                   target="_blank"> 
                  l’éradication du Choca et du Sisal
                </a>. Il se base sur un modèle unique de coopération entre divers corps de métier regroupant des gestionnaires (TAAF), des scientifiques (CBNM) et des militaires (FAZSOI). Courant 2016, un nouveau programme a été élaboré conjointement entre les TAAF et le CBNM afin de lutter contre la Fataque. Puis, en 2018, les premières actions de contrôle du Cocotier et du Filao ont eu lieu grâce à la participation des TAAF, du CBNM et d’élagueurs professionnels. Suite à leur détection précoce en 2019, des actions de lutte et de suivi ont été engagées par les TAAF et le CBNM contre le Ricin et le Cenchre épineux. Enfin, en 2020 l’intervention des TAAF a permis d’abattre l’individu de Morongue et la population de Tamarin.
              </p>

              <p align="justify">
                Tous ces programmes bénéficient de l’appui financier du Ministère de l’Écologie, du Développement Durable et de l’Énergie (MEDDE) via la Direction de l’Environnement, de l’Aménagement et du Logement de La Réunion (DEAL Réunion) au titre du label ‘Conservatoire Botanique National’ porté par le CBNM.
              </p>
        
              <h3 color="accent">Outils</h3>
              <p align="justify">
                Dès la mise en place de programmes de lutte, divers outils (guides de gestion et fiches de renseignements mis à jour régulièrement, présentations orales) ont été développés afin de cadrer et de renseigner au mieux les actions de lutte et de suivi <i>in situ</i> menées contre ces EEE sur l’île d’Europa. Des bases de données permettent également de dresser l’état d’avancement des opérations de lutte et de suivi.
              </p>
              
              <br/>
              <h3 color="accent">1/ Guides de gestion, procédure de détection précoce et bases de données</h3>
              
              <div style="text-align: center">
                <div fxFlex style="text-align:center">
                  <img  class="img-thumbnail"style="vertical-align: middle;max-width: 200px" 
                      src="assets/images/articles/GuideGestionEEE2020_PageGarde.jpg" title="HIVERT J. 2020. Guide de reconnaissance et de gestion de 15 espèces végétales exotiques envahissantes sur Europa et/ou Tromelin (îles Éparses). Version 2020.1. Rapport technique non publié, Conservatoire Botanique National et Centre Permanent d’Initiatives pour l’Environnement de Mascarin, Terres Australes et Antarctiques Françaises, 56 pages."/>

                      <br/>
                      <br/>
                      <p align="justify">
                        En 2020, un nouveau guide de gestion a été rédigé. Il propose de regrouper en un seul document divers outils jusqu’alors dispersés au sein des guides de gestion rédigés au fil de la mise en œuvre des programmes de lutte, que ce soit sur Europa (Choca et Sisal à partir de 2011, Fataque à partir de 2016) ou sur Tromelin (à partir de 2015).
                      </p>

                      <p align="justify">
                        Les fiches de reconnaissance et de gestion, les cartes et les fiches de renseignements ont été améliorées, mises à jour et harmonisées, et des nouveaux taxons ont été traités.
                      </p>
                        
                      <p align="justify">
                        Cette nouvelle version (2020.1) concerne 15 EEE distinctes : 9 sur Europa (Cenchre épineux, Fataque, Choca, Sisal, Ricin, Filao, Tamarin, Morongue et Cocotier) et 7 sur Tromelin (Ti trèfle, Panicum, Lépidium, Jean Robert, Aloès amer, Cactus sémaphore et Cocotier).
                      </p>
        
                      
                    </div>    
              </div>

              <p align="justify">
                <cite>
                  <a href="https://ileseparses.cbnm.org/index.php/plus/telechargements/send/32-guide-de-gestion-iles-eparses/345-guide-gestion-eee" 
                     target="_blank">
                    Télécharger le document
                  </a>
                </cite>
              </p>   

              <p align="justify">
                Destiné aux agents de l’environnement des TAAF, et plus largement aux gestionnaires d’espaces naturels, ce guide contient :
              </p>

              <ul>
                <li>des fiches de reconnaissance et de gestion pour chaque EEE (classées par île, puis par type biologique, de la morphologie la plus basse à la plus haute) : taxonomie, description botanique, caractéristiques biologiques et écologiques et carte de répartition afin d’aider à leur reconnaissance ;</li>
                <li>des préconisations relatives à des stratégies et des méthodes de lutte et de suivi à appliquer <i>in situ</i> ;</li>
                <li>des préconisations de traitement des déchets verts issus des actions de lutte ;</li>
                <li>des fiches de renseignements dédiées aux actions de lutte et/ou de suivi effectuées <i>in situ</i> ;</li>
                <li>des fiche à remplir dédiées à la procédure de détection précoce de la flore spontanée ;</li>
                <li>divers conseils et précautions relatifs à la mise en œuvre des actions de lutte et aux outils employés ainsi que des règles de bonne conduite destinées à limiter l’introduction de nouvelles espèces végétales.</li>
              </ul>
              <p align="justify">
                Ce guide sera actualisé, amélioré et complété au gré des retours d’expérience et de l’évolution des programmes de lutte contre les EEE dans les îles Éparses.
              </p>
              
              <br/>
              <h3 color="accent">2/ Action de sensibilisation</h3>

              

              <div style="text-align: center">
                <div fxFlex style="text-align:center">
                  <img  class="img-thumbnail"style="vertical-align: middle;max-width: 200px" 
                      src="assets/images/articles/diaporamaEuropa.JPG" title="HIVERT J. 2016. Les trésors de la biodiversité d'Europa : enjeux et orientations pour la conservation de la flore et des habitats. Conservatoire Botanique National et Centre Permanent d'Initiatives pour l'Environnement de Mascarin, île de La Réunion, Powerpoint, Version 13, septembre 2016, 24 pages."/>

                      <p align="justify">
                        Sachant que les actions de lutte contre le Choca et le Sisal sont effectuées par les détachements des militaires se succédant sur Europa, une formation spécifique a été mise en place dès 2012 auprès de chacun d’entre eux.
                      </p>
                      <p align="justify">
                        Cette formation d’une demi-journée était initialement assurée par un agent des TAAF (présentation de l’organisme, des enjeux environnementaux et de la réglementation des îles Éparses), par un officier des FAZSOI (présentation des instructions militaires) et par un scientifique du CBNM (présentation des milieux naturels terrestres de l’île Europa et du guide de gestion du Choca et du Sisal.
                      </p>
                      <p align="justify">
                        Depuis mi 2016, cette action de sensibilisation est uniquement assurée par les TAAF.
                      </p>
                    </div>    
              </div>

              

              <br/>
              <h3 color="accent">3/ Mise en ligne d’une base de données à composante cartographique des actions de lutte et de suivi sur Europa</h3>
              
              <p align="justify">
                De manière à partager l’ensemble des actions de lutte et de suivi menées <i>in situ</i> contre les espèces végétales exotiques envahissantes sur l’île Europa, une base de données à composante cartographique a été développée et mise en ligne par le CBNM en concertation avec les TAAF. Basée sur un cahier des charges rédigé en 2013, la première version de ce site WEB était dédiée au Choca et au Sisal. Depuis 2018, une deuxième version intègre les actions menées contre la Fataque.
              </p>
              <p align="justify">
                Cette base de données en ligne est régulièrement mise à jour en fonction des actions de lutte et de suivi menées <i>in situ</i> contre le Choca, le Sisal ou la Fataque.
              </p>

              <p align="justify">
                <cite>
                  HIVERT J. & PICOT F. 2013. Cahier des charges relatif à une base de données en ligne relative aux actions de lutte et de suivi contre le Choca et le Sisal sur Europa. Conservatoire Botanique National et Centre Permanent d'Initiatives pour l'Environnement de Mascarin, île de La Réunion, 8 pages.                  <a href="http://ileseparses.cbnm.org/index.php/plus/telechargements/download/15-guide-de-gestion/27-hivert-j-picot-f-2013-cahier-des-charges-relatif-a-une-base-de-donnees-en-ligne-relative-aux-actions-de-lutte-et-de-suivi-contre-le-choca-et-le-sisal-sur-europa" 
                     target="_blank">
                    Télécharger le document
                  </a>
                </cite>
              </p> 

              <p align="justify">
                CONSERVATOIRE BOTANIQUE NATIONAL DE MASCARIN (CUIDET Y., HIVERT J. & PICOT F. auteurs principaux) 2020. Lutte contre les espèces exotiques envahissantes dans les îles Éparses. Interface cartographique de consultation en ligne de bases de données sur les actions de lutte, de suivi et de traitement des déchets verts sur les îles Europa et Tromelin. Disponible à  <a href="http://ileseparses.cbnm.org/lutte_eee"> cette adresse </a>.
              </p>
            </mat-tab>

            <mat-tab label="Tromelin"> 

              <br/>

              <h2 color="accent">
                  Programme de lutte contre les espèces végétales exotiques envahissantes sur l’île Tromelin
              </h2>
              <br/>
              <h3 color="accent">Contexte</h3>
              <p align="justify">
                Surnommée « île au Sable » ou « île aux cyclones », Tromelin est la plus petite des îles Éparses. 
                Cet îlot corallien de moins d’1 km2 et de forme ovoïde (environ 1600 m de long pour une largeur maximale de 700 m) est isolé dans l’ouest de l’océan Indien, 
                à 440 km à l’est de Madagascar et à 580 km au nord de La Réunion.
              </p>

              <p align="justify">
                De souveraineté française depuis 1771, elle est gérée depuis 2005 par les Terres Australes et Antarctiques Françaises (TAAF). 
                Dotée depuis 1954 d’une station météorologique permanente (automatisée en 2011) et d’une piste d’aviation, elle est actuellement occupée par un contingent 
                de 3 personnes composé de personnels TAAF. De manière plus épisodique, des missions scientifiques (dédiées à divers domaines des sciences de la vie et de la terre, 
                à l’archéologie…) donnent lieu à des séjours de durée variable. Parmi ces derniers, le Conservatoire Botanique National de Mascarin intervient sur ces territoires 
                en tant qu’expert de la flore vasculaire et des systèmes de végétation terrestres. 
                En 2007, ces îles sont officiellement devenues un territoire d'agrément national au titre des Conservatoires Botaniques Nationaux.
              </p>

              <p align="justify">
                Compte-tenu des conditions naturelles difficiles, la biodiversité naturelle que l’on rencontre sur Tromelin est globalement faible. Cependant, 
                l’île héberge quelques espèces végétales endémiques strictes ainsi que des espèces patrimoniales à l’échelle de l’ouest de l’océan Indien. 
                De plus, malgré une faible diversité en formations végétales, ces dernières offrent des habitats favorables à la nidification de plusieurs oiseaux marins 
                et à la ponte de tortues marines (cas des formations herbacées à Boerhavia sp.2 dans le cas du Fou masqué et des formations arbustives basses à Veloutier 
                dans le cas du Fou à pieds rouges, de la Sterne blanche et de la Tortue verte). Notons que certains groupes restent encore méconnus (arthropodes, crustacés).
              </p>
    
              <p align="justify">
                Ces processus naturels sont fragiles et particulièrement sensibles aux perturbations exogènes, dont les espèces exotiques envahissantes (EEE). 
                Citons le cas des oiseaux nicheurs : au nombre de 6 en 1856, ce chiffre est descendu à 2 en 1994, conséquence de l’impact des mammifères introduits et du dérangement 
                causé par la présence humaine. Note d’espoir, il est revenu aujourd’hui à 7 espèces (5 nicheurs avérés et 2 potentiels) suite au succès de la dératisation opérée en 2005.
              </p>

              <p align="justify">
                L’Homme, pour passer plusieurs mois sur ce caillou hostile, montre logiquement le besoin d’améliorer ses conditions de vie. 
                C’est particulièrement notable dans le cas de la flore où de nombreuses plantes alimentaires et/ou ornementales ont été volontairement introduites 
                pour être cultivées en pot ou en terre. Malgré les conditions extrêmes de salinité, de vent et de sécheresse qui constituent un frein à la plupart 
                de ces tentatives (citons par exemple le cas du Filao, du Vacoa, de l’Avocatier, du Tamarin, du Papayer ou encore du Bananier), quelques espèces ont réussi à survivre. 
                Certaines ne se régénèrent pas (cas du Badamier) tandis que d’autres deviennent envahissantes de manière spontanée (cas du Cactus sémaphore) ou grâce à une dispersion par 
                l’Homme (cas du Cocotier et de l’Aloès amer). D’autres plantes, des herbacées, ont été introduites involontairement et certaines montrent des signes d’invasion avérés 
                (cas du Lépidium et du Jean Robert) ou pourraient rapidement le devenir (cas du Ti trèfle). La majorité de ces espèces occupent donc de plus en plus de place au fil 
                du temps (une douzaine de cocotiers en 1970, pratiquement 400 en 2013), empiétant sur les formations végétales naturelles et mettant en péril 
                la reproduction des oiseaux nicheurs et des tortues marines.
              </p>

              <p align="justify">
                Face à un tel challenge - permettre un minimum de confort à l’Homme tout en protégeant l’environnement - 
                un programme de gestion des espèces végétales exotiques envahissantes a été élaboré et mis en œuvre par les différents partenaires 
                (TAAF : logistique et mise en œuvre <i>in situ</i> ; CBNM : encadrement technique) à partir de 2016. Ce programme bénéficie également de l’appui financier 
                du Ministère de l’Écologie, du Développement Durable et de l’Énergie (MEDDE) via la Direction de l’Environnement, de l’Aménagement et du Logement de La Réunion (DEAL Réunion) 
                au titre du label ‘Conservatoire Botanique National’ porté par le CBNM.
              </p>

              <h3 color="accent">Outils</h3>

              <p align="justify">
                Dès la mise en place de programmes de lutte, divers outils (guides de gestion et fiches de renseignements mis à jour régulièrement) ont été développés afin de cadrer et de renseigner au mieux les actions de lutte et de suivi <i>in situ</i> menées contre ces EEE sur l’île de Tromelin. Des bases de données permettent également de dresser l’état d’avancement des opérations de lutte et de suivi.
              </p>


              <br/>
              <h3 color="accent">1/ Guides de gestion, procédure de détection précoce et bases de données</h3>

              

              <div style="text-align: center">
                <div fxFlex style="text-align:center">
                  <img  class="img-thumbnail"style="vertical-align: middle;max-width: 200px" 
                        src="assets/images/articles/GuideGestionEEE2020_PageGarde.jpg"
                        title="HIVERT J. 2020. Guide de reconnaissance et de gestion de 15 espèces végétales exotiques envahissantes sur Europa et/ou Tromelin (îles Éparses). Version 2020.1. Rapport technique non publié, Conservatoire Botanique National et Centre Permanent d’Initiatives pour l’Environnement de Mascarin, Terres Australes et Antarctiques Françaises, 56 pages."/>
                  <br/>
                  <br/>
                  <p align="justify">
                    En 2020, un nouveau guide de gestion a été rédigé. Il propose de regrouper en un seul document divers outils jusqu’alors dispersés au sein des guides de gestion rédigés au fil de la mise en œuvre des programmes de lutte, que ce soit sur Europa (Choca et Sisal à partir de 2011, Fataque à partir de 2016) ou sur Tromelin (à partir de 2015).
                  </p>
                  <p align="justify">
                    Les fiches de reconnaissance et de gestion, les cartes et les fiches de renseignements ont été améliorées, mises à jour et harmonisées, et des nouveaux taxons ont été traités.
                  </p>
    
                  <p align="justify">
                    Cette nouvelle version (2020.1) concerne 15 EEE distinctes : 9 sur Europa (Cenchre épineux, Fataque, Choca, Sisal, Ricin, Filao, Tamarin, Morongue et Cocotier) et 7 sur Tromelin (Ti trèfle, Panicum, Lépidium, Jean Robert, Aloès amer, Cactus sémaphore et Cocotier).
                  </p>

                </div>    
              </div>

              <p align="justify">
                <cite>
                  <a href="https://ileseparses.cbnm.org/index.php/plus/telechargements/send/32-guide-de-gestion-iles-eparses/345-guide-gestion-eee" 
                     target="_blank">
                    Télécharger le document
                  </a>
                </cite>
              </p>



              <p align="justify">
                Destiné aux agents de l’environnement des TAAF, et plus largement aux gestionnaires d’espaces naturels, ce guide contient :
              </p>

              <ul>
                <li>
                  des fiches de reconnaissance et de gestion pour chaque EEE (classées par île, puis par type biologique, de la morphologie la plus basse à la plus haute) : taxonomie, description botanique, caractéristiques biologiques et écologiques et carte de répartition afin d’aider à leur reconnaissance ;
                </li>
                <li>
                  des préconisations relatives à des stratégies et des méthodes de lutte et de suivi à appliquer <i>in situ</i> ;
                </li>
                <li>
                  des préconisations de traitement des déchets verts issus des actions de lutte ;
                </li>
                <li>
                  des fiches de renseignements dédiées aux actions de lutte et/ou de suivi effectuées <i>in situ</i> ;
                </li>
                <li>
                  des fiche à remplir dédiées à la procédure de détection précoce de la flore spontanée ;
                </li>
                <li>
                  divers conseils et précautions relatifs à la mise en œuvre des actions de lutte et aux outils employés ainsi que des règles de bonne conduite destinées à limiter l’introduction de nouvelles espèces végétales.
                </li>
              </ul>

              <p align="justify">
                Ce guide sera actualisé, amélioré et complété au gré des retours d’expérience et de l’évolution des programmes de lutte contre les EEE dans les îles Éparses.
              </p>

              

              <h4 color="accent">2/ Mise en ligne d’une base de données à composante cartographique des actions de lutte, de suivi et de traitement des déchets verts sur Tromelin</h4>


              <p align="justify">
                De manière à partager l’ensemble des actions de lutte, de suivi et de traitement des déchets verts menées <i>in situ</i> contre les espèces végétales exotiques envahissantes sur l’île Tromelin, une base de données à composante cartographique a été développée et mise en ligne par le CBNM en concertation avec les TAAF en 2019. Basée sur un cahier des charges rédigé en 2013, la première version de ce site WEB était dédiée au programme de lutte contre le Choca et le Sisal sur Europa. Depuis 2018, une deuxième version intègre les actions menées contre la Fataque sur Europa.
              </p>

              <p align="justify">
                Cette nouvelle base de données en ligne intègre à présent le programme de lutte contre les EEE sur Tromelin. Elle est régulièrement mise à jour en fonction des actions menées <i>in situ</i>.
              </p>

              <p align="justify">
                <cite>
                  HIVERT J. & PICOT F. 2013. Cahier des charges relatif à une base de données en ligne relative aux actions de lutte et de suivi contre le Choca et le Sisal sur Europa. Conservatoire Botanique National et Centre Permanent d'Initiatives pour l'Environnement de Mascarin, île de La Réunion, 8 pages.
                  <a href="http://ileseparses.cbnm.org/index.php/plus/telechargements/download/15-guide-de-gestion/27-hivert-j-picot-f-2013-cahier-des-charges-relatif-a-une-base-de-donnees-en-ligne-relative-aux-actions-de-lutte-et-de-suivi-contre-le-choca-et-le-sisal-sur-europa" 
                     target="_blank">
                    Télécharger le document
                  </a>
                </cite>
              </p>

              <p align="justify">
                CONSERVATOIRE BOTANIQUE NATIONAL DE MASCARIN (CUIDET Y., HIVERT J. & PICOT F. auteurs principaux) 2020. Lutte contre les espèces exotiques envahissantes dans les îles Éparses. Interface cartographique de consultation en ligne de bases de données sur les actions de lutte, de suivi et de traitement des déchets verts sur les îles Europa et Tromelin. Disponible à  <a href="http://ileseparses.cbnm.org/lutte_eee"> cette adresse </a>.
              </p>
              
            </mat-tab>
          </mat-tab-group>
              
        </div>
  </div>

  <div fxFlex></div>

</div>