<div fxLayout="row">

  <div fxFlex></div>
  
  <div fxLayout="column" class="article" fxFlex.xs="100" fxFlex="980px">
  
    <h2 mat-dialog-title color="accent">
      Contact
      <span fxFlex></span>
    </h2>

    <div fxFlexFill>

      <div fxLayout="column"style="padding-top: 0.5em" >       
        <h2 color="accent">CBNM</h2>
        <address>
            <p align="justify">
              <strong>Conservatoire Botanique National de Mascarin</strong><br/>
              <strong><i>Jean HIVERT - Responsable de l’antenne des îles Éparses</i></strong><br/>
              <i>Conservatoire Botanique National de Mascarin<br/>
                2, rue du Père Georges, Les Colimaçons<br/>
                97436 Saint-Leu, La Réunion, FRANCE<br/> 
              </i>
            <p align="justify">
            <strong>Tel :</strong> +262 (0) 262 24 03 24<br/>
            <strong>Fax :</strong> +262 (0) 262 24 85 63<br/>
            <strong>Mel :</strong> jhivert_at_cbnm.org<br/>
        </address>

        <h2 color="accent">TAAF</h2>
                
        <address>
            <strong>Maxime AMY - Chargé de Conservation « îles Éparses »</strong><br/>
                <i>
                  Direction de l’Environnement<br/>
                  Service de la préservation et de la valorisation des îles Éparses<br/>
                  Terres Australes et Antarctiques Françaises<br/>
                  Rue Gabriel Dejean<br/>
                  97458 Saint Pierre Cedex, La Réunion, FRANCE<br/> 
                </i>
            <p align="justify">
            <strong>Tel :</strong> +262 (0) 262 96 78 54<br/>
            <strong>Mel :</strong> maxime.amy_at_taaf.fr<br/>
        </address>      
        
      </div>

    </div>
    
  </div>

  <div fxFlex></div>

</div>