<article>
  <h2 class="wow fadeInLeftBig">Éditeur du site</h2>
  <div class="clearfix"> </div>
  <!--<h4> test </h4>-->
  <p>Le site <a href="https://ileseparses.cbnm.org/">www.ileseparses.cbnm.org</a> est édité par le Conservatoire Botanique National de Mascarin, dit CBN-CPIE Mascarin. Le Conservatoire Botanique National de Mascarin est une association à but non-lucratif de loi du 1er juillet 1901, labélisée Centre Permanent d'Initiatives pour l'Environnement, dont le siège social est situé au 2, rue du Père Georges, Colimaçons, 97436 Saint-Leu.</p>
  <p>Elle est agréée « Conservatoire Botanique National » par le Ministrère français de la Transition Écologique et Solidaire, pour mener des missions de connaissance, de conservation, de gestion des données, d’expertise et de sensibilisation sur les enjeux liés au maintien du Patrimoine Végétal.</p>
  <p>Notre Association est également labélisée « Centre Permanent d’Initiatives pour l’Environnement » (CPIE) par l’Union National des CPIE depuis 2000 afin de privilégier une approche territoriale de protection de la flore et des habitats.</p>
  <hr />
  <h4>Renseignements généraux :</h4>
  <p>Numéro SIREN : 340671353</p>
  <p>Numéro SIRET : 34067135300035</p>
  <p>Numéro RNA : W9R4001713</p>
  <p>Numéro APE : Recherche-développement en autres sciences physiques et naturelles (7219Z)</p>
  <p>Numéro de téléphone : <a href="tel:+2620262242725">0262 24 27 25</a></p>
  <p>Addresse de messagerie : <a href="mailto:cbnm@cbnm.org">cbnm@cbnm.org</a></p>
  </article>
  <p> </p>
  <article>
  <h2 class="wow fadeInLeftBig">Direction de la publication</h2>
  <p>Le directeur de la publication est Monsieur Dominique OUDIN, en sa qualité de Directeur du CBN-CPIE Mascarin.</p>
  </article>
  <p> </p>
  <article>
  <h2 class="wow fadeInLeftBig">Droit d’auteur</h2>
  <p>Ce site respecte le droit d’auteur. L'ensemble des contenus, pages, scripts, icônes ou sons de ce site sont la propriété exclusive du Conservatoire Botanique National de Mascarin (CBN-CPIE Mascarin).Toute production, reproduction ou représentation de ce site, en tout ou partie (textes, sons ou images), sur quelque support que ce soit est interdite. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur.</p>
  <p>Il est strictement interdit d'utiliser ou de reproduire le nom "Conservatoire Botanique National de Mascarin" ou son logo, seuls ou associés, ainsi que les autres marques, modèles ou dessins enregistrés, qui sont la propriété du Conservatoire Botanique National de Mascarin (CBN-CPIE Mascarin), à quelque titre que ce soit et notamment à des fins publicitaires sans l'accord préalable écrit de Conservatoire Botanique National de Mascarin (CBN-CPIE Mascarin).</p>
  </article>
  <p> </p>
  <article>
  <h2 class="wow fadeInLeftBig">Conditions d’utilisation</h2>
  <p>Les informations contenues dans ce site sont soumises à la loi française et sont fournies "telles quelles" sans garanties d'aucune sorte, ni explicites, ni tacites. Ces informations peuvent contenir des inexactitudes techniques ou des erreurs typographiques. Elles sont non contractuelles et sujettes à modification sans préavis.</p>
  <p>En utilisant ce site, le visiteur reconnaît avoir eu la possibilité de prendre connaissance de cet avertissement.</p>
  <p>Le Conservatoire Botanique National de Mascarin (CBN-CPIE Mascarin) n'est pas responsable du contenu de tout autre site auquel vous pourriez avoir accès via le site CBNM ou ses sites annexes.</p>
  <p>Le Conservatoire Botanique National de Mascarin (CBN-CPIE Mascarin) n’assure aucune garantie, expresse ou tacite, concernant tout ou partie de son site WEB. Le Conservatoire Botanique National de Mascarin (CBN-CPIE Mascarin) a fait tous ses efforts pour s’assurer que les informations accessibles par l’intermédiaire de son site web sont exactes. Cependant, nous ne garantissons en aucune manière que ces informations soient exactes, complètes et à jour.</p>
  <p>Il est expressément entendu par l'utilisateur de ce site qu'en aucun cas Conservatoire Botanique National de Mascarin (CBN-CPIE Mascarin) ne peut être tenu responsable des dommages quelconques, directs ou indirects, matériels ou immatériels ou spéciaux, résultant notamment de la consultation et / ou de l'utilisation de ce site WEB ou d'autres sites qui lui sont liés, comme des utilisations d'informations textuelles, sonores ou visuelles qui auraient pu y être recueillies et notamment de tout préjudice financier ou commercial, de pertes de programmes ou de données dans son système d'information ou autre.</p>
  </article>
  <p> </p>
  <article>
  <h2 class="wow fadeInLeftBig">Hébergement</h2>
  <p>Le site <a href="https://ileseparses.cbnm.org/">www.ileseparses.cbnm.org</a> est hébergé par la société OVH dont le siège social se situe 2 rue kellermann 59100 Roubaix.</p>
  <br /><hr />
  <h5>Pour approfondir le sujet : <a href="politiquecookies">Politique cookies</a></h5>
  </article>